# What is Python?

* Python is an interpreted, high-level and general-purpose programming language.
* object-oriented approach aim to help programmers write clear
* dynamically typed and garbage-collected.
* Python was created in the late 1980s by Guido van Rossum

In [2]:
print("Hello World!")

Hello World!

In [3]:
print('Hello World')

Hello World

In [4]:
print("Hello1")
print("Hello2")
print("Hello3")
print("Welcome to Our Python course")

Hello1
Hello2
Hello3
Welcome to Our Python course

In [4]:
print "Hello World"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World")? (<ipython-input-4-2e860ebf713e>, line 1)

In [5]:
print(Hello)

NameError: name 'Hello' is not defined

In [6]:
print("Hello')

SyntaxError: EOL while scanning string literal (<ipython-input-6-21f0c5b97628>, line 1)

### Version Control

In [7]:
!python --version

Python 3.9.0

### Comment

In [8]:
#taking some notes 
#taking some notes
#take a note

In [9]:

'''Michael Irwin Jordan is an American scientist, professor at the University of California, 
Berkeley and researcher in machine learning, statistics, and artificial intelligence.
He is one of the leading figures in machine learning, 
and in 2016 Science reported him as the world's most influential computer scientist.
'''.replace("\n"," ")

"Michael Irwin Jordan is an American scientist, professor at the University of California,  Berkeley and researcher in machine learning, statistics, and artificial intelligence. He is one of the leading figures in machine learning,  and in 2016 Science reported him as the world's most influential computer scientist. "

In [10]:

"""
write something
"""

'\nwrite something\n'

### Declaring Variables

* variable = value

* n = 5

In [11]:
n = 1 
print(n)

1

In [12]:
p = n
print(p)

1

### Data Types
* Integer
* Float
* String
* Boolean
* Complex
* Dictionary
* Tuple
* Set

In [13]:
#String
hello = "World"

In [14]:
print(hello) #print variable
print("World") #print value
print(n)

World
World
1

In [15]:
#type() 
type(hello)

str

In [16]:
print(type(hello)) #print data type

<class 'str'>

In [17]:
#Integer
int_value = 5
int_value

5

In [18]:
print(type(int_value))

<class 'int'>

In [29]:
t = 3.19
print(type(t))

<class 'float'>

In [30]:
type('x')

str

In [32]:
#Boolean
t, f = True, False
print(type(t))
print(t)
print(f)

<class 'bool'>
True
False

In [31]:
#swapping
data1 = 7 
data2 = 12
data3 = 23
data4 = 33

data1, data2, data3 , data4 = data2 , data1, data4, data3
print(data1, data2, data3, data4)

12 7 33 23

In [33]:
print("data1:", data1, "data:", data2)

data1: 12 data: 7

In [34]:
#length ifadesi bir string değerin uzunluğunu bulmamıza yarar.
len("Pythoneer")

9

In [35]:
len("Welcome to Turkish AI Hub")

25

In [36]:
hello

'World'

In [37]:
print(len(hello)) #print data length

5

In [38]:
p

5

In [39]:
len(5)

TypeError: object of type 'int' has no len()

In [40]:
len(15.6)

TypeError: object of type 'float' has no len()

In [41]:
data22 = "Data Science"
len(data22)

12

In [42]:
len("Data Science")

12

In [43]:
a = 15
b = 23

a, b = b, a
print(a)
print(b)

23
15

In [47]:
#F-string
name = "Turkey"
print(f'hello {name}')

hello Turkey

In [48]:
print("Hello", name)

Hello Turkey

In [50]:
name2 = "Aslı"
print("Hello {}".format(name2))

Hello Aslı

In [66]:
data12 = 5
data13 = 90
print("My value:{} and Your value:{}".format(data12, data13))

My value:5 and Your value:90

In [67]:
print(f'My value: {data12} and your value: {data13}')

My value: 5 and your value: 90

In [71]:
print("My value:" + str(data12) + "Your Value:" + str(data13))

My value:5Your Value:90

In [73]:
a = 50

In [74]:
type(a)

int

In [76]:
type(str(a))

str

In [81]:
type(a)

int

In [82]:
a = str(a)

In [83]:
a

'50'

In [84]:
type(a)

str

## Aritmetic Operations

In [51]:
#exponential numbers
5**2

25

In [52]:
5**3

125

In [53]:
35+67

102

In [54]:
"35"+"67"

'3567'

In [55]:
"Omer" + "Cengiz"

'OmerCengiz'

In [56]:
"35" + 67

TypeError: can only concatenate str (not "int") to str

In [57]:
"35"*3

'353535'

In [58]:
"hello"*4

'hellohellohellohello'

In [59]:
"hello" "world"

'helloworld'

In [60]:
x = 10

print(x+2)
print(x-2)
print(x*2)
print(x**2)
print(x**4)
print(x/2)
print(x//2) 
print(x%2)

12
8
20
100
10000
5.0
5
0

In [61]:
y = 13
print(y/2)
print(y//2)
print(y % 2)

6.5
6
1

In [62]:
z = 5
z+=1 # this statement equals to z= z+1 , meaning while the previous value of z is 5, the new z value becomes 6. 
z

6

In [63]:
z +=2 #z = z + 2
z

8

In [64]:
z*=2      # z = z * 2
z

16