# Functions

Functions are blocks of code that can be used over and over again to perform a specific action.

As we know, in Python, there are print (), len () etc. Many available functions are defined.

We can use it in our own code by providing access to functions defined in libraries, modules and packages. These are called predefined functions, embedded functions (built-in) or library functions. We can use ready-made functions as well as create our own functions. (User-defined)


Functions prevent code repetition and our code stays more modular and organized.


*****

def "function_name"(parameter1,parameter2,..):


> "Do something"

  return "return something"  (depends on functionality)

In [1]:
def hello():
  print("Hello Everyone!!")

In [3]:
hello()   #calling the func   #the functions don't have any parameters

Hello Everyone!!

In [5]:
def hello(name):
  print("Hello " + name)

In [6]:
hello("Asli")

Hello Asli

In [8]:
def func_in_func(name1):
    return hello(name1)

In [10]:
func_in_func("Ugurcan")

Hello Ugurcan

In [12]:
def func1():
  print("Hello World!!")


func1()
print("Google")
func1()
func1()
func1()
func1()

Hello World!!
Google
Hello World!!
Hello World!!
Hello World!!
Hello World!!

In [18]:
def summ(a,b):
  summ = a + b
  print(summ)

In [19]:
summ(6.0,7.5)

13.5

In [20]:
t = summ(8,9)
t

17

In [22]:
def func(x,y):
  summ = x + y
  multip = x * y
  return (summ,multip)

#t = summ 
#c = multip

In [24]:
t,c = func(23,45)

print(t,c)

68 1035

In [27]:
func(23,45)

(68, 1035)

In [29]:
print("Sum of the values: " + str(t) + ", Multiplying of the values: " + str(c))

Sum of the values: 68, Multiplying of the values: 1035

In [37]:
#Let's write a function that it will square the entered number, but will be terminated when you enter the number 5 and give us an error message.


def sqr(x):
  if x == 5:
    return ("Terminated because you entered 5")

  result = x **2
  return (result)

In [38]:
sqr(10)

100

In [39]:
sqr(5)

'Terminated because you entered 5'

In [41]:
d = sqr(5)
print(d)

Terminated because you entered 5

In [42]:
# Let's write a function that tells you whether the entered number is positive, negative or zero.



def func(x):
  if x > 0:
    return ("Positive")
  elif x < 0:
    return ("Negative")
  else:
    return ("Zero")

In [44]:
for i in [-2,5,6,0,-4,-7]:
  print(func(i))

Negative
Positive
Positive
Zero
Negative
Negative

In [45]:
#factorial calculation
#0! = 1
#1!= 1
#2!= 2 * 1 =2
#6! = 6 * 5* 4 *3 * 2 *1 = 720


def factorial(num):
  factorial = 1
  if (num == 0 or num == 1):
    print("Factorial: ", factorial)
  else:
    while (num >= 1):
      factorial = factorial * num
      num -= 1
    print("Factorial: ", factorial)


# 1 * 5 = 5 = factorial
# 5 * 4 = 20
# 20 * 3 = 60
#60 * 2 = 120
# 120 * 1 = 120

In [57]:
factorial(5)

Factorial:  120

In [49]:
def faktoriyel(sayi):
  faktoriyel = 1
  for i in range(1,sayi+1):
    faktoriyel *= i
  return faktoriyel

In [50]:
faktoriyel(5)

120

In [1]:
#using for loop

def factorial2(num2):
  factorial2 = 1
  if (num2 == 0 or num2 == 1):
    print("Factorial: ", factorial2)
  else:
    for i in range(factorial2, num2+1):    
        factorial2 *= i      
    print("Factorial: ", factorial2)

In [2]:
factorial2(6)

Factorial:  720

In [5]:
def factorial3(nums):
  factorial3 = 1
  if (nums == 0 or nums == 1):
    return ("Factorial: ", factorial3)
  else:
    for i in range(factorial3, nums+1):
       factorial3 *= i      
    return (factorial3)

In [6]:
x = factorial3(6)
print(x)

720

In [7]:
x

720

In [8]:
def hello2(name, capLetter = False):
  if capLetter:
    print("Hello " + name.upper())
  else:
    print("Hello " + name)

In [9]:
hello2("asli")

Hello asli

In [10]:
hello2("Asli", capLetter= True)

Hello ASLI

In [11]:
#lambda function
(lambda x: x + 1)(2)

3

In [12]:
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
full_name('guido', 'van rossum')

'Full name: Guido Van Rossum'

### * args and   ** kwargs
* args (Non Keyword Arguments)
* kwargs (Keyword Arguments)

In [2]:
def multp(*args):
  result = 1
  for i in args:
        result *= i
        print(result) 

# *args keeps the data as tuple type.

In [3]:
multp(4,5,6,7,8,9)

4
20
120
840
6720
60480

In [4]:
def multp1(*args):
  result = 2
  for i in args:
        result *= i # result = result * i
        print(result) 


# *args keeps the data as tuple type.

In [5]:
multp1([4,5,6,7])

[4, 5, 6, 7, 4, 5, 6, 7]

In [6]:
multp1(2,3,4,5)

4
12
48
240

In [7]:
[4,5,6] * 3

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [8]:
def func_kwargs(**kwargs):
    print(kwargs)
    
func_kwargs(name = "Murat", name2 = "Ömer", number=12345, can='Emir', beril='yılmaz')

{'name': 'Murat', 'name2': 'Ömer', 'number': 12345, 'can': 'Emir', 'beril': 'yılmaz'}

In [9]:
def salaryCalc(salary):

  if salary < 0:
    return("Invalid value")
  else:
    if 0 < salary <= 1000:
      salary = salary + salary * 0.15
    elif salary <= 2000:
      salary = salary + salary * 0.1
    elif salary <= 3000:
      salary = salary + salary * 0.05
    else:
      salary = salary + salary * 0.025

    return ("New salary: ", salary)

In [10]:
salaryCalc(-5)

'Invalid value'

In [11]:
salaryCalc(800)

('New salary: ', 920.0)

In [12]:

def salaryCalc2():

  salary = float(input("Please enter your current salary: "))

  if salary < 0:
    return("Invalid value")
  else:
    if 0 < salary <= 1000:
      salary = salary + salary * 0.15
    elif salary <= 2000:
      salary = salary + salary * 0.1
    elif salary <= 3000:
      salary = salary + salary * 0.05
    else:
      salary = salary + salary * 0.025

    return ("New salary: ", salary)

In [ ]:
new_salary = salaryCalc2() 
print(new_salary)

### Let's write a function that returns a random word from a list.

### Modules

import numpy

import tensorflow as tf

import myModules

myModules.myFunc()

from myModules import *

myFunc()

In [108]:
words = ["artificial","intelligence","machine","learning","python","programming"]


#from random import *
import random as rnd

def randomWord(words):
  index = rnd.randint(0, len(words)-1)
  return words[index]

In [109]:
len(words)

6

In [116]:
word = randomWord(words)
print(word)

python

### Global & Local Variables

In [117]:
x = 5

print(x)

5

In [121]:
def display():
  x = 4
  return(x)

In [122]:
display()

4

In [123]:
print(x)

5

## Methods

Functions are called by name, it can take parameters inside and optionally the resulting value can be used outside of the function.


Methods are also called by name, in many ways they are like functions, but calling is performed through an object such as a String or list.


object.methodName(parameter)

In [125]:
s = input("Please enter a name: ")


print(s.upper())

Please enter a name: kübra
KÜBRA

In [130]:
#it does not return any value
list1 = [1,2,3,4,5,6]

list1.remove(4)
list1

[1, 2, 3, 5, 6]

In [129]:
list1

[1, 2, 3, 5, 6]

In [133]:
list1.index(6)

4

In [134]:
#return the index of the element with the highest value in a given list.

myList = [45,7,23,6,12,78]

maxElement = max(myList)

maxIndex = myList.index(maxElement)

print(maxIndex)

5