 **Python string methods**

**capitalize()**

In [1]:
""" capitalize() method capitalizes the first character of the string """
string1 = "i am adnan"

print(string1.capitalize())

I am adnan

**casefold()**

In [2]:
""" casefold() method converts the string into lowercase """
string2 = "I Am Adnan"

print(string2.casefold())

i am adnan

**center()**

In [3]:
""" center() method returns a centered string, padded with specific character(optional) """
string3 = "center"

# Without specific character
print(string3.center(15)) 

# With specific character for padding, here '1' is used for padding
print(string3.center(15,'1'))

     center
11111center1111

**count()**

In [4]:
"""count() method returns the number of count of the mentioned substring in a string"""
string4 = "so so is not so good"
substring = "so"

print(string4.count(substring))

# We can optionally mention the start and end point
print(string4.count(substring, 0, 8))

3
2

**endswith()**

In [5]:
"""endswith() is a binary method which returns True if the specified value is present at the end"""
string5 = "May the force be with you"
substring = "you"

print(string5.endswith(substring))

# We can optionally mention the start and end point
print(string5.endswith(substring, 0, 8))

True
False

**expandtabs()**

In [6]:
"""expandtabs() method returns the string with specified tabsize or whitespace"""
# \t denotes tab, by deafult tab size is set to 8
string6 = "A\td\tn\ta\tn"

print(string6.expandtabs())

# Setting the tab size to 12
print(string6.expandtabs(12))

A       d       n       a       n
A           d           n           a           n

**find()**

In [7]:
"""find() method searches for a specific value in the string, and returns it's 
first occurance index, if no match found it returns -1""" 
string7 = "If I have seen further it is by standing on the shoulders of Giants"

print(string7.find("Giants"))

# We can optionally mention the start and end point
print(string7.find("Giants",1,50))

61
-1

**format()**

In [8]:
"""The format() method returns a formatted string"""
string8 = "I am {}.I love {}"

print(string8.format("Adnan","reading books"))

I am Adnan.I love reading books

**isalnum()**

In [9]:
""" isalnum() is a boolean method that returns true if the string contains alphanumeric values only """
string9 = "se7en"

print(string9.isalnum())

True

**isalpha()**

In [10]:
""" isalpha() is a boolean method that returns true if the string contains alphabet only """
string10 = "Awesome"

print(string10.isalpha())

True

**isnumeric()**

In [11]:
""" isnumeric() is a boolean method that returns true if the string contains numeric character only """
string11 = "2441139"

print(string11.isnumeric())

True

**isupper()**

In [12]:
""" isupper() is a boolean method that returns true if the string contains uppercase characters only """
string12 = "GITHUB"

print(string12.isupper())

True

**islower()**

In [13]:
""" islower() is a boolean method that returns true if the string contains lowercase characters only """
string13 = "octocat"

print(string13.islower())

True

**upper()**

In [14]:
""" upper() method converts a string into uppercase """
string14 = "The higher you rise,the harder you fall"

print(string14.upper())

THE HIGHER YOU RISE,THE HARDER YOU FALL

**lower()**

In [15]:
""" lower() method converts a string into lowercase """
string15 = "THE HIGHER YOU RISE,THE HARDER YOU FALL"

print(string15.lower())

the higher you rise,the harder you fall

**replace()**

In [16]:
""" In a string, replace() method replaces a substring with another one """
string16 = "Let's fly higher and higher"

print(string16.replace("higher","lower"))

# We can also mention the number of occurance we want to replace,
# here we replaced just the first occurance of 'higher'

print(string16.replace('higher', 'lower', 1))

Let's fly lower and lower
Let's fly lower and higher

**split()**

In [17]:
""" split() method splits the string with the given parameters,
and retruns a list of strings.By default it splits using space """
string17 = "Divided we fall"

print(string17.split())
string17a = "comma,separated,string"

# Here we use comma as separator
print(string17a.split(','))

# We can also mention the maximum number of time split would occur (optional)
print(string17a.split(',',1))

['Divided', 'we', 'fall']
['comma', 'separated', 'string']
['comma', 'separated,string']

**strip()**

In [18]:
""" strip() method returns the trimmed version of the string, by default it trims heading and trailing whitespace """
string18 = "          we need space             "

print(string18.strip())

string18a = "******Thus a star is born******"

# Here we trim the heading and trailing '*'
print(string18a.strip('*'))

we need space
Thus a star is born

**swapcase()**

In [19]:
""" swapcase() method converts uppercase into lowercase and vice-versa """
string19 = "nEVER wRITE lIKE tHIS"

print(string19.swapcase())

Never Write Like This

**zfill()**

In [20]:
""" zfill() method adds zero at the begining of string, width of the returned
string is passed as parameter """
string20 = "is a number"

# Here the given string is of length 11, we passed 10 as the parameter of zfill,
# so it added one 0 at the left of the string 
print(string20.zfill(12))

# If a string starts with + or - operator the zeros are filled after the 1st operator
string20a = "+is needed"

print(string20a.zfill(15))

string20b = "++is needed"
# Here zero is filled after the first '+' operator
print(string20b.zfill(15))

0is a number
+00000is needed
+0000+is needed