# Conditional Statements 

## If

if "condition":


> "do something"   


print()

In [1]:
num = int(input("Please enter a number: "))

if num < 0:  
  num *= -1  #num = num*-1
print("Result: ", num)

Please enter a number: 5
Result:  5

# If-Else

if "condition":


> "do something" 

else:



> "do something another" 



print()

# If-Elif-Else

if "condition":


> "do something"  

elif "condition-2":



> "do something another" 

elif "condition-3":



> "do something another" 





else:



> "do something different" 



print()

In [2]:
score = int(input("Please enter your score: "))

if score <= 40:
  print("Very bad, you should work hard..")
elif score <= 60:
  print("Nice but you should work more..")
elif score <= 100:
  print("Congratulation!")
else:
  print("Invalid score!!!")

Please enter your score: 3
Very bad, you should work hard..

In [11]:
x = 8

if x > 4:
  x = x+1
elif x > 5:
  x = x+2
elif x > 7:
  x = x+3

print ("x, ", x)

x,  9

In [12]:
x = 5

if x > 4:
  x = x+1

if x > 5:
  x = x+2

if x > 7:
  x = x+3

print ("x, ", x)

x,  11

In [17]:
print("**************ATM Giriş Paneli**************")

kullanici_adi = "Omer"
parola ="hello"

kullanici_adi1 =input("Lütfen kullanıcı adınızı giriniz")

parola1= input("Lütfen Parolanızı giriniz.")

if (kullanici_adi != kullanici_adi1 and parola == parola1):
    print("Kullanıcı adınız hatalı")
elif (kullanici_adi==kullanici_adi1 and parola != parola1):
    print("Parolanız hatalı")
elif (kullanici_adi != kullanici_adi1 and parola!= parola1):
    print("Kullanıcı adınız ve parolanız hatalıdır.")
else:
    print("Tebrikler, Başarıyla giriş yaptınız")

**************ATM Giriş Paneli**************
Lütfen kullanıcı adınızı girinizOmer
Lütfen Parolanızı giriniz.Cengiz
Parolanız hatalı

In [18]:
x = 10

if x > 5:
    if x >7:
        print("İlker and Eylül")

İlker and Eylül

# Question

At a particular company, employees’ salaries are raised progressively, calculated using the following formula:

salary = salary + salary x (raise percentage) 

Raises are predefined as given below, according to the current salary of the worker. For instance, if the worker’s current salary is less than or equal to 1000 TL, then its salary is increased 15%.


Range | Percentage
--- | ---
0 < salary ≤ 1000 | 15%
1000 < salary ≤ 2000 |10%
2000 < salary ≤ 3000| 5%
3000 < salary | 2.5%


Write a program that asks the user to enter his/her salary. Then your program should calculate and print the raised salary of the user.

Some example program runs:

Please enter your salary: 1000

Your raised salary is 1150.0.

Please enter your salary: 2500

Your raised salary is 2625.0.

# Answer

In [4]:
salary = float(input("Please enter your salary: "))

if salary < 0:
  print("Invalid value")
else:

  if 0 < salary <= 1000:
    salary = salary + salary * 0.15
  elif salary <= 2000:
    salary = salary + salary * 0.1
  elif salary <= 3000:
    salary = salary + salary * 0.05
  else:
    salary = salary + salary * 0.025

  print("Your raised salary is", salary)

Please enter your salary: -5
Invalid value

# While Loop Structure

Condition Intro

while <condition>:



> "true statement"

> "true statement"

> condition update


A logical condition is repeated as long as it has a logical true value. For ending the loop, that condition must become false.

In [7]:
num = 0

while num < 9:
  print("Value:{}".format(num))
  num = num +1

Value:0
Value:1
Value:2
Value:3
Value:4
Value:5
Value:6
Value:7
Value:8

In [ ]:
num2 = 0

while num2 != 9:
  print("Value:", num2)
  num2 +=2

#infinite loop

In [ ]:
num3 = int(input("Please enter an integer between 1 and 10: "))

while num3 < 1 or num3 > 10:  
    print("Invalid value!!!!")
    sayi3 = int(input("Please enter an integer between 1 and 10: "))
print("Congrats...")

In [ ]:
num3 = int(input("Please enter an integer between 1 and 10: "))

while num3 < 1 or num3 > 10:  
  print("Invalid value!!!!")
  num3 = int(input("Please enter an integer between 1 and 10: "))
    
    
print("Congrats!!...")

## Print items of a list

In [7]:
t = [1,2,3,4,5,6]
len(t)

6

In [14]:
i = 0 #counter value

while (i < len(t)):
  #i+=1
  print(i, "th item: ", t[i])
  i+=1

0 th item:  1
1 th item:  2
2 th item:  3
3 th item:  4
4 th item:  5
5 th item:  6

In [15]:
while True:
  a = input("Enter a value: ")
  if a == "Exit":
    break

Enter a value: Sefa
Enter a value: Berkcan
Enter a value: exit
Enter a value: Deniz
Enter a value: Burcu
Enter a value: Kaan
Enter a value: Osman
Enter a value: Exit

# For Loop Structure


for "repeated value" in "list":



> "true statement"




It takes the items as in sequence and processes them in a loop.

In [16]:
"""
a[0]
a[1]
a[2]
"""


a = [2,45,57]

for i in a: 
  print(i)

2
45
57

In [20]:
i = 5
i in range(5)

False

In [22]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [23]:
list2 = list("Python")
list2

['P', 'y', 't', 'h', 'o', 'n']

In [24]:
for i in range(5):
  print(i)

0
1
2
3
4

In [26]:
for i in "Python Course":
  print(i)

P
y
t
h
o
n

C
o
u
r
s
e

In [32]:
for i in "Python Course".split():
  print(i)

Python
Course

In [33]:
for i in range(10):
  if i == 5:    
    break
  print(i)

0
1
2
3
4

In [35]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [37]:
nums = list(range(8))

squares = []

for i in nums:
  squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49]

In [39]:
nums = list(range(8))
print(nums)
squares = [i**2 for i in nums]
print(squares)

[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 4, 9, 16, 25, 36, 49]

In [41]:
nums = list(range(8))

even_squares = [i**2 for i in nums if i % 2 == 0]

odd_squares = [i**3 for i in nums if i% 2 == 1]

print(even_squares)
print(odd_squares)

[0, 4, 16, 36]
[1, 27, 125, 343]

In [43]:
mylist = [3,5,12,7,65,35]

sum1 = 0

for i in mylist:
  sum1 = sum1 + i    #sum += i
  print(sum1)
    
print(sum1)
  #print(sum1)

3
8
20
27
92
127
127

### Find the max item of a list

In [44]:
mylist = [3,5,12,7,65,35]
print(mylist[0])

max1 = mylist[0]

for i in mylist:
  if i > max1:
    max1 = i
    print("max1: ", max1)
    print("i: ", i)
print(max1)

3
max1:  5
i:  5
max1:  12
i:  12
max1:  65
i:  65
65

### Summation of list items

In [45]:
list1 = [1,2,3]
list2 = [4,5,6]

list(zip(list1,list2))

[(1, 4), (2, 5), (3, 6)]

In [43]:
list1 = [1,2,3]
list2 = [4,5,6]

list3 = [a + b for a,b in zip(list1,list2)]

print(list3)

[5, 7, 9]