# Exceptions 

* Programmer Errors 
* Program Bugs 
* Exceptions

In [2]:
# error example,SyntaxError.

print "Hello World!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World!")? (<ipython-input-2-c7f6c99ffc2b>, line 3)

In [3]:
#bug example.

num1 = input("Enter the first integer: ")
num2 = input("Enter the second integer: ")

print(num1, "+", num2, "=", num1 + num2)

Enter the first integer: 6
Enter the second integer: 7
6 + 7 = 67

In [6]:
#exception example, ValueError.

num3 = int(input("First integer: "))
num4 = int(input("Second integer: "))

print(num3, "/",num4, "=", num3/num4)

First integer: 6
Second integer: 7.4

ValueError: invalid literal for int() with base 10: '7.4'

In [7]:
num4 = int(input("Second integer: "))
num4

Second integer: 7.4

ValueError: invalid literal for int() with base 10: '7.4'

In [8]:
int(3.8)

3

In [11]:
# ZeroDivisionError.


num3 = int(input("First integer: "))
num4 = int(input("Second integer: "))

print(num3, "/",num4, "=", num3/num4)

First integer: 7
Second integer: 0

ZeroDivisionError: division by zero

## Exception Handling


try:


> the situations where we can get exceptions

except "Exception Name":


> the operations in case of exceptions

In [12]:
x = "Alan Turing"

int(x)

ValueError: invalid literal for int() with base 10: 'Alan Turing'

In [16]:
try:
  int(x)

except ValueError:
  print("Please enter an integer value!!!")

Please enter an integer value!!!

In [19]:
num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except ValueError:
  print("Please enter an integer value!!!")

First integer: 4
Second integer: 0

ZeroDivisionError: division by zero

In [1]:
num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except ZeroDivisionError:
    print("Please enter the second input different than 0 value!!!")
    ebru = int(input("Enter a integer number"))
ebru

First integer: 4
Second integer: 0
Please enter the second input different than 0 value!!!
Enter a integer number3

3

In [9]:
num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except ValueError:
  print("Please enter an integer value!!!")
except ZeroDivisionError:
  print("Please enter the second input different than 0 value!!!")
except:
  print("Unknown error...")

First integer: 0
Second integer: 0
Please enter the second input different than 0 value!!!

In [10]:
3.4/0

ZeroDivisionError: float division by zero

In [13]:
num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except (ValueError, ZeroDivisionError):
  print("Error!!!")

First integer: 2.5
Second integer: 3
Error!!!

In [14]:
int("3.5")

ValueError: invalid literal for int() with base 10: '3.5'

In [16]:
#try/except/as


num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except ValueError as error:
  print("Error!!!")
  print("Error message: ", error)

First integer: 5
Second integer: 5.2
Error!!!
Error message:  invalid literal for int() with base 10: '5.2'

In [18]:
#exception handling in loop structure


while True:
    num1 = input("First number: (Press q for quit the program): ")

    if num1 == "q":
        break

    num2 = input("Second number: ")

    try:
        num1_int = int(num1)
        num2_int = int(num2)
        print(num1_int, "/", num2_int, "=", num1_int / num2_int)
    except (ValueError, ZeroDivisionError):
        print("Error!")
        print("Please try again!")

First number: (Press q for quit the program): 3
Second number: 0
Error!
Please try again!
First number: (Press q for quit the program): 3
Second number: 3.2
Error!
Please try again!
First number: (Press q for quit the program): 0
Second number: 2
0 / 2 = 0.0
First number: (Press q for quit the program): q

In [20]:
#try/except/as


num3 = input("First integer: ")
num4 = input("Second integer: ")

try:
  num3_int = int(num3)
  num4_int = int(num4)

  print(num3_int, "/",num4_int, "=", num3_int/num4_int)

except (ValueError, ZeroDivisionError) as error:
  print("Error!!!")
  print("Error message: ", error)

First integer: 5
Second integer: 0
Error!!!
Error message:  division by zero

In [30]:
"""
exception handling in functions
using raise command
"""


def reverse(s):

    if (type(s) != str):
        raise ValueError("Please enter a String type.")
    else:
        return s[::-1]

In [31]:
reverse("python")

'nohtyp'

In [32]:
reverse(12)

ValueError: Please enter a String type.

# Intro to Object Oriented Programming

Every entity we see around us is an object.
Each object has its own attributes and a set of functions (methods) they perform.

The concept we call class is also the data types that enable us to generate objects.

In [34]:
class Car():
    pass

In [35]:
def hello():
    pass

In [36]:
class Car():
    colour = "yellow"
    brand = "xyz"
    door = 4
    model = 1987

In [38]:
car1 = Car()

print(car1)

<__main__.Car object at 0x000002797141FD88>

In [40]:
print(car1.model)
print(car1.brand)
print(car1.door)
print(car1.colour)

1987
xyz
4
yellow

In [41]:
car2 = Car()

car2.colour

'yellow'

In [43]:
#We can also call attributes over the class without creating an object.

Car.model

1987

In [44]:
Car.brand

'xyz'

In [46]:
dir(car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'brand',
 'colour',
 'door',
 'model']

### __init()__

In order to create each object with different values at the beginning,
we need to send the values of the objects.
For this, we use a special method: __init () __

The init () method is defined as a constructor function.

It is the first function that is automatically called up while creating our objects.

By defining this method specially, we can create our objects with different values.

In [48]:
class Car2():

  def __init__(self): 
    print("init function calling...")


self= to access any variable or other methods in the defined class.

In [51]:
car = Car2()

init function calling...

In [53]:
class Car3():

  def __init__(self, colour, brand, door):
    self.colour = colour
    self.brand = brand
    self.door = door


red_car = Car3("red", "abc",2)

yellow_car = Car3("yellow", "xyz", 4)

print(red_car.colour)
print(yellow_car.brand)

red
xyz

In [55]:
blue_car = Car3()

TypeError: __init__() missing 3 required positional arguments: 'colour', 'brand', and 'door'

In [60]:
blue_car = Car3("blue","xyz")

TypeError: __init__() missing 1 required positional argument: 'door'

In [61]:
blue_car = Car3("blue","bnm",10)

print(blue_car.brand)
print(blue_car.colour)
print(blue_car.door)

bnm
blue
10

In [63]:
class Person():
  name = ""
  age = 0

  def __init__(self, personName, personAge):
    self.name = personName
    self.age = personAge


  def welcomePerson(self):
    print("Hello " + self.name)

  
  def showAge(self):
    print(self.age)

In [65]:
person1 = Person ("Asli", 28)

person1.welcomePerson()

Hello Asli

In [66]:
person1.showAge()

28

# Question

In [74]:
class Person3():
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.language = []
        
    def welcomePerson(self):
        print("Hello",self.name)
    
    def showAge(self):
        print(self.age)
        
    def addLanguage(self,new_lang):
        print("Adding new language")
        self.language.append(new_lang)
    def showInfo(self):
        print("{} is {} years old".format(self.name,self.age))
        print("He can speak:")
        for i in self.language:
              print(i)

In [75]:
Ferhat = Person3("Ferhat",21)

In [77]:
Ferhat

In [78]:
Ferhat.addLanguage("Spanish")

Adding new language

In [79]:
Ferhat.showAge()

21

In [81]:
Ferhat.showInfo()

Ferhat is 21 years old
He can speak:
Spanish

In [82]:
Ferhat.welcomePerson()

Hello Ferhat

In [83]:
Ferhat.addLanguage("Spanish")

Adding new language

In [84]:
Ferhat.showInfo()

Ferhat is 21 years old
He can speak:
Spanish
Spanish

In [85]:
Ferhat.addLanguage("English")

Adding new language

In [86]:
Ferhat.showInfo()

Ferhat is 21 years old
He can speak:
Spanish
Spanish
English